*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Adam Schwarz Recommendo*/
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/*GENERAL*/

body {
  margin: 20px;
}
div {
  background-color: #EBE0CC;
  border: 1px solid #1F0F00;
}

/*HEADER*/
.header {
  display: block;
  width: 100%;
}
.header img {
  width: 100%;
}
/*BUTTONS*/
table {
  display: block;
  min-height: 10px;
  border-spacing: 30px 5px;
  font-family: Arial;
  font-size: 15px;
}
td a {
  text-decoration: none;
  color: #5C2E00;
}
.logos {
  /* width: 2em;*/
  /* vertical-align: top;*/
  /* margin-top: -12px;*/
}
td img {
 height: 12px;
 padding-left: 10px;

}

/*BLOG*/


#back  {
  text-decoration: none;
  color: #666633;
     font-size: 12px;

}
.blog {
  display: block;
  width: 80%;
  float: left;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial;
  padding: 5%;
  min-height: 300px;
  color: #5C2E00;

}
h1 {
  text-align: center;

}
.meta {
  color: #666633;
  text-decoration: none;
  font-size: 12px;
  margin-left: -30px;
}
#meat {
  clear: both;
  display: block;
}
.body {
  border-bottom: 1px dotted black;
}
textarea {
  width: 100%;
  font-size: 12px;
}
.name {
  height: 25px;

}
.commentbox {
  height: 75px;
}
.comments {
  margin-top: 25px;
}
#resc  {
  width: 75%;
  margin-left: 10%;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px gray;
}
#asan {
  width: 50%;
  margin-left: 25%;
  border: 1px solid gray;
  box-shadow: 10px 10px 5px gray;
}

/*RECENT*/
.recent {
  display: inline-block;
  width: 18%;
  padding: 15px;
  float: right;
  border: 2px solid black;
  font-family: Arial;
  margin-top: 20px;
  text-decoration: none;
  color: #5C2E00;
}

.new a {
  text-decoration: none;
  color: #666633;
  padding: 0;
}

/*FOOTER*/
.footer {
  clear: both;
  width: 100%;
  margin-bottom: 50px;

}
.footer img {
  width: 100%;
}

.blogimgs  {
  width: 90%;
}

.smallimgs {
    width: 40%;
    margin-left: 30%;
}

.screenshot {
margin-left: 20%;
border: 1px solid #666633;
box-shadow: 1em 1em .5em #666633;
}

.wk5 {
width: 100%;
border: 1px solid #666633;
box-shadow: 1em 1em .5em #666633;
}

blockquote {
  margin-top: 1px solid #666633;
  margin-bottom: 1px solid #666633;
  font-size: 1.25em;
  text-decoration: bold;
}