*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Adam Schwarz Recommendo*/
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/*GENERAL*/

#wrapper {
  width: 100%;
  height: 100%;
}
body {
  margin: 5em;
}
header,
.about,
.links {
  background-color: #EBE0CC;
  border: 1px solid #1F0F00;
}

/*HEADER*/
.header {
  display: block;
  width: 100%;
}
.header img {
  width: 100%;
}



/*BODY*/

.about {
  width: 70%;
  display: inline-block;
  float: left;
  float: top;
  padding: 3% 3% 3% 3%;
  margin: 3% 0 0 3%;
}
#headshot  {
  display: inline-block;
  float: right;
  padding: 1% 0% 1% 1%;
  width: 25%;
  margin-right: 6%;
}
#hero {
  font-size: 3em;
  margin-left: .5em;
}

.current {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
#leftcurrent {
  float: left;
  text-align: top;
}
#rightcurrent {
  float: right;
  text-align: top;
}
li {
  list-style-type: square;
  margin-left: -1.25em;
}



#sidebar {
  width: 19.25%;
  display: inline-block;
  float: right;
  margin: 3% 3% 0 0;
}
/*BUTTONS*/
#button {
  border-spacing: 30px 10px;
  font-family: Arial;
  padding: .5em 0 .5em 0;
}
.logos a {
  text-decoration: none;
}
.logos img {
 height: 13px;
 margin-top: auto;
 margin-bottom: auto;
}


.links {
  width: 100%;
  height: 3em;
  margin: 8% 0 8% 0;
}
.links p {
    text-align: center;
    vertical-align: center;
  }

  a {
        text-decoration: none;
        color: #1F0F00;
  }

  a:hover {
    color: #330000;
  }
/*FOOTER*/
/*.footer {
  clear: both;
  width: 100%;
  margin-bottom: 50px;

}
.footer img {
  width: 100%;
  }*/



