*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Adam Schwarz Recommendo*/
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/*GENERAL*/


#wrapper {
  background-color: transparent;
}
/*HEADER*/
#header {
  display: block;
  margin-top: -7%;
  width: 100%;
}
#header img {
  width: 100%;
}

/*BLOG*/

h1 {
  text-align: center;
}

}
#meat {
  clear: both;
  display: block;
}
.body {

  border: 1px solid #1F0F00;
  background-color: #EBE0CC;
  display: inline-block;
  width: 70%;
  float: left;
  float: top;
  padding: 1% 3% 1% 3%;
  margin: -5% 0% 5% 3%;
}

/*CONTENT*/
.week {
list-style: none;
}

.bloglinks a{
text-decoration: none;
  color: #5C2E00;
}

tbody {
  float: left;
  float: top;
}

#sidebar {
  width: 19.25%;
  display: inline-block;
  float: right;
  margin: -3% 3% 1% 1%;
}

.links {
  background-color: #EBE0CC;
  border: 1px solid #1F0F00;
  font-size: .9em;
  width: 100%;
  height: 2.75em;
  margin: 10% 0 10% 0;
}
.links p {
    text-align: center;
    vertical-align: center;
  }

  a {
        text-decoration: none;
        color: #1F0F00;
  }

  a:hover {
    color: #C33300;
  }


h1,
li,
p {
    color: #5C2E00;
  }

  a:hover {
    text-decoration: underline;
  }

  #button {
  border-spacing: 1em 1em;
  font-family: Arial;
  padding: .01em 2em .5em .001em;
}
.logos a {
  text-decoration: none;
}
.logos img {
 height: .9em;
 margin: auto;
 float: left;
}

.affiliates {
  display: inline-block;
  float: right;
  height: 5em;
  width: 2em;
  margin: -1% 0% 7% 0%;
}


.links {
  width: 100%;
  height: 3em;
  margin: 20% 0 20% 0;
}
.links p {
    text-align: center;
    vertical-align: center;
  }

  a {
        text-decoration: none;
        color: #1F0F00;
  }

  a:hover {
    color: #C33300;
  }

#P0 {
  text-align: center;
  font-size: 1.5em;
}

/*SMALL SCREEN*/
@media (max-width: 748px) {
.body {
  width: 90%;
  display: block;
  padding: 3% 3% 3% 3%;
  margin: 3% 0 0 3%;
}

   #sidebar {
  width: 50%;
  display: block;
  margin: 3% 30% 3% 30%;
   }

.links {
  width: 100%;
  height: 3em;
  margin: 2% 0 10% 0;
}

.about {
  margin: -8% 0% 5% 3%;
}

}