*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Adam Schwarz Recommendo*/
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

/*GENERAL*/

body {
  margin: 20px;
}
div {
  background-color: #EBE0CC;
}

#header,
.footer,
.body, {
    border: 1px solid #1F0F00;

}
#wrapper {
  background-color: transparent;
}
/*HEADER*/
.header {
  display: block;
  width: 100%;
}
.header img {
  width: 100%;
}
/*BUTTONS*/
table {
  display: block;
  min-height: 10px;
  border-spacing: 30px 5px;
  font-family: Arial;
  font-size: 15px;
}
td a {
  text-decoration: none;
  color: #5C2E00;
}
.logos {
  /* width: 2em;*/
  /* vertical-align: top;*/
  /* margin-top: -12px;*/
}
td img {
 height: 12px;
 padding-left: 10px;
}

/*BLOG*/

h1 {
  text-align: center;
}

}
#meat {
  clear: both;
  display: block;
}
.body {
margin: 5% 0 10% 0;
min-height: 15em;
padding: 1em
}

/*CONTENT*/
.week {
list-style: none;
}

.bloglinks a{
text-decoration: none;
  color: #5C2E00;
}



/*FOOTER*/
.footer {
display: block;
  width: 100%;
  margin-bottom: 50px;
  max-height: 3em;

}
.footer img {
  width: 100%;
}



