/* include your css here */

.header {
  width: 98%;
  display: block;
  background-color: blue;
  padding: 5px;
  color: white;
  text-align: center;
}
.body {
  text-align: center;
  padding: 2%;
}
section,
.reflection {
  border: 1px solid black;
  padding: 2%;
  margin-top: 2%
}
.body > img {
  height: 800px;
  width: 1000px;
}


* {
  font-family: 'Raleway', sans-serif;
}